@model IEnumerable<DashboardApp.Models.UserRequest>

@{
    ViewData["Title"] = "User List";
}
<h1>User List</h1>

<form method="get">
    <div class="d-flex w-100 mb-3">
        <div class="flex-grow-1">
            <input type="text" class="form-control" id="searchQuery" name="searchQuery" value="@ViewData["searchQuery"]" placeholder="Search">
        </div>
        <div class="ms-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<a href="/User/Create" class="btn btn-primary">Create New User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th class="text-center">Role</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model.Select((item, index) => new { Item = item, Index = index + 1 }))
        {
            <tr>
                <td>@users.Index</td>
                <td>@users.Item.Username</td>
                <td>@users.Item.FullName</td>
                <td>@users.Item.Email</td>
                <td class="text-center">@users.Item.RoleName</td>
                <td class="text-center">@users.Item.Status</td>
                <td class="text-center">
                    <a class="btn btn-success" href="@Url.Action("Edit", new { id = users.Item.Id })">Edit</a> 
                    <a href="@Url.Action("Delete", new { id = users.Item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>