@model IEnumerable<DashboardApp.Models.Role>


@{
    ViewData["Title"] = "Role List";
}
<h1>Role List</h1>
<a href="/Role/Create" class="btn btn-primary">Create New Role</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Description</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Roles in Model.Select((item, index) => new { Item = item, Index = index + 1 }))
        {
            <tr>
                <td>@Roles.Index</td>
                <td>@Roles.Item.Name</td>
                <td>@Roles.Item.Description</td>
                <td class="text-center">
                    <a class="btn btn-success" href="@Url.Action("Edit", new { id = Roles.Item.Id })">Edit</a> 
                    <a href="@Url.Action("Delete", new { id = Roles.Item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this role?')">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>

