@model IEnumerable<DashboardApp.Models.Product>
@{
    ViewData["Title"] = "Product List";
}

<h1>Products</h1>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Product</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Select((item, index) => new { Item = item, Index = index + 1 }))
        {
            <tr>
                <td>@product.Index</td>
                <td>@product.Item.Name</td>
                <td>Rp @product.Item.Price</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="@Url.Action("Details", new { id = product.Item.Id })">Details</a> 
                    <a class="btn btn-success" href="@Url.Action("Edit", new { id = product.Item.Id })">Edit</a> 
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = product.Item.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

